.tabs {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    // background-color: #888B8F;
    background-color: var(--header-bg-color);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}