.tab {
    z-index: 0;
    height: 100%;
    min-width: 3rem;
    max-width: 6rem;
    overflow: hidden;
    background-color:var(--board-bg-color);
    color: var(--main-text-color);
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    border-left: 1px solid var(--additional-color);
    border-top: 1px solid var(--additional-color);
    border-right: 1px solid var(--additional-color);
    .active {
        z-index: 2;
    }
}