.tab {
    z-index: 0;
    height: 100%;
    width: 3rem;
    background-color:#1C2C3E;
    color: #A9B4C2;
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    border-left: 1px solid #A9B4C2;
    border-top: 1px solid #A9B4C2;
    border-right: 1px solid #A9B4C2;
    .active {
        z-index: 2;
    }
}