.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #17375C;
    color: #A4CAF5;
}

.title {
    font-weight: bold;
}

.firstLink {
    margin-right: 0.2rem;
}