.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--header-bg-color);
    color: var(--additional-color);
}

.title {
    font-weight: bold;
}

.firstLink {
    margin-right: 0.2rem;
}