.newBoardTab {
    z-index: 0;
    height: 100%;
    width: 1.5rem;
    background-color:var(--board-bg-color);
    color: var(--main-text-color);
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    border-left: 1px solid var(--additional-color);
    border-top: 1px solid var(--additional-color);
    border-right: 1px solid var(--additional-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    transition: 0.5s;
    overflow: hidden;
    
    .icon {
        width: 1rem;
        height: 1rem;
        background-color: green;
        cursor: pointer;
    }
    
}

.newBoardTab.active {
    width: 7rem;
    z-index: 2;
    .icon {
        background-color: red;
    }

    .input {
        height: 1rem;
        width: 5rem;
        border-radius: 2px;
        border: none;
        padding: 0;
        outline: none;
    }
}
